AIRFLOW_UID=50000

# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=airflow

# MongoDB
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=your_mongo_password

# Airflow
AIRFLOW_SECRET_KEY=generate_with__python_-c__import_secrets__print(secrets.token_hex(32))
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=your_airflow_admin_password

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=your_pgadmin_password
